
@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  --blue: #477c8b;
  --orange: #d78e44;
  --brown: #544c4a;
  --red: #da4333;
  --header-font: 'Roboto', sans-serif;
}



body {
  margin: 0;
  font-family: var(--header-font);
  header {
    .wrapper {
      width: 100%;
      padding: 0;
      margin: 0;
      @media screen and (min-width: 992px){
        display: flex;
      }

      .logo {
        @media screen and (max-width: 992px){
          text-align: center;
        }
        @media screen and (min-width: 992px){
          text-align:left;
        }
        .logo-img {
          margin: 10px;
        }
      }
      .menu-wrapper {
        @media screen and (min-width: 992px){
          position: absolute;
          right: 0;
          display: flex;
          min-height: 93px;
        }
        @media screen and (max-width: 992px){
          background: #fff;
          text-align: right;
        }
        .main-menu{
          @media screen and (max-width: 992px){
            width:100%;
            height: 54px;
          }
          @media screen and (min-width: 992px){
            float: left;
            display: flex;
          }
          .main-menu-collapse-btns{
            @media screen and (max-width: 992px){
              padding:10px;
              display: flex;
              height:54px;

            }
            .main-menu-collapse-btn{
              @media screen and (max-width: 992px){
                display: block;
                background: #eee;
                border: 2px solid #eee;
                border-radius: 4px;
                padding: 5px 10px;
                position: absolute;
                right:10px;
              }
              @media screen and (min-width: 992px){
                display: none;
              }
            }
          }
          .main-menu-collapse-list{
            @media screen and (max-width: 992px){
              width:100%;
            }
            @media screen and (min-width: 992px){
              float: left;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .main-menu-list{
              list-style-type: none;
              @media screen and (min-width: 992px){
                display: flex;
                flex-direction: row;

              }

              @media screen and (max-width: 992px){
                text-align: center;
                display: none;
                position: absolute;
                background-color: #fff;
                width:100%;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
              }
              li {
                padding: 10px;
                cursor: pointer;
                font-weight: bolder;
                font-family: var(--header-font);
              }
              .special {
                color: var(--orange);
              }
            }
          }

        }
        .logging-menu {
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          .logging-menu-list {
            @media screen and (max-width: 992px){
              display: none;
            }
            @media screen and (min-width: 992px){
            }
            list-style-type: none;
            display: flex;
            flex-direction: row;
            li {
              padding: 10px;
              cursor: pointer;
              color: var(--orange);
              font-weight: bolder;
              font-family: var(--header-font);
            }
          }
        }
      }
    }
  }

  section#slider {
    position: relative;
      img{

      }
    .slider-container{
      position: absolute;
      width:100%;
      top:20%;
      .slider-greeting-header {
        position: relative;
        z-index: 10;
        @media screen and (max-width: 992px){
          width: 350px;
        }
        @media screen and (min-width: 992px){
          width: 450px;
        }
        min-height: 400px;
        left: calc(50% - 350px);
        top: calc(50% - 200px);
        color: white;
        h1 {
          font-weight: bolder;
          @media screen and (max-width: 992px){
            font-size: 30px;
          }
          @media screen and (min-width: 992px){
            font-size: 50px;
          }
        }
        p {
          @media screen and (max-width: 992px){
            font-size: 12px;
          }
          @media screen and (min-width: 992px){
            font-size: 15px;
          }

          text-align: justify;
          margin-bottom: 40px;
        }
      }
      .slider-btns {
        .slider-btn-buy {
          padding: 13px 35px;
          background-color: var(--orange);
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
          border: 2px solid var(--orange);
          color: white;
          font-weight: bolder;
          cursor: pointer;
          font-size: 15px;
        }
        .slide-btn-create {
          margin-left: 70px;
          color: white;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
  }
  #videos{
    position: relative;

    .videos-container{
      margin-top:50px;
      width: 100%;
      position: absolute;
      top:0;
      .videos-header{
        text-align: center;
        margin-bottom: 60px;
        h1{
          font-size: 40px;
          font-weight:bolder;
          color: var(--orange);
        }
      }
      .videos-body{
        .videos-body-btns{
          min-height:100px;
          display: flex;
          justify-content: center;
          align-items: center;
          .video-btn{
            .video-btn-fix{
              margin:0 30px;
              font-size: 20px;
              background: transparent;
              width: 220px;
              padding: 15px 0;
              border:1px solid var(--orange);
              border-radius: 40px;
              color:var(--orange);
              &:hover{
                background: var(--orange);
                color:white;
              }
              .special-video-button{
                width: 20px;
                height: 20px;
                border: 1px solid var(--orange);
                transform: rotate(-45deg);
                position: absolute;

              }
            }
          }
        }
      }
    }
  }

  #adventages{
    .adventages-header{
      width:100%;
      text-align: center;
      h1{
        color: var(--orange);
        font-size: 40px;
      }
    }
  }
}